<!DOCTYPE html>
<html lang="en">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <h1><%= msg %></h1>

                <% for(let i = 0; i < list.length; i++) { %>
                <div class="media mt-1" style="border:solid #7290a1;">
                    <img src="<%= list[i].src %>" class="mr-3" alt="image">
                    <div class="media-body">
                        <h5 class="mt-0"><%= list[i].title %></h5>
                        <p>
                            순위 : <%= list[i].rank %> <br>
                            가수 : <%= list[i].artist %> <br>
                            앨범 : <%= list[i].album %> <br>
                        </p>
                    </div>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</body>

</html>