<!DOCTYPE html>
<html lang="en">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <table class="table table-striped">
                    <tr>
                        <th>순위</th>
                        <th>가수</th>
                        <th>팬</th>
                        <th>남자</th>
                        <th>여자</th>
                        <th>10대</th>
                        <th>20대</th>
                        <th>30대</th>
                        <th>40대</th>
                        <th>기타</th>
                    </tr>
                    <% for(let i = 0; i < list.length; i++) { %>
                    <tr>
                        <td><%= list[i].rank %></td>
                        <td><%= list[i].singer %></td>
                        <td><%= list[i].fan %></td>
                        <td><%= list[i].male %>%</td>
                        <td><%= list[i].female %>%</td>
                        <td><%= list[i].teens %>%</td>
                        <td><%= list[i].twenties %>%</td>
                        <td><%= list[i].thirties %>%</td>
                        <td><%= list[i].forties %>%</td>
                        <td><%= list[i].other %>%</td>
                    </tr>
                    <% } %>

                </table>
                <section class="bts">

                </section>

            </div>
        </div>
    </div>
</body>

</html>